@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
  width: 100%;
  height: 100%;
}

a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}
